src/pycofbuilder/__pycache__/*.pyc
src/pycofbuilder/data/__pycache__/*.pyc
tests/__pycache__/__init__.cpython-311.pyc
tests/__pycache__/test_dependencies.cpython-311-pytest-7.4.4.pyc
tests/__pycache__/test_exceptions.cpython-311-pytest-7.4.4.pyc
tests/__pycache__/test_iotools.cpython-311-pytest-7.4.4.pyc
tests/__pycache__/test_tools.cpython-311-pytest-7.4.4.pyc
.pypirc
